h1
  |Welcome to the heroku add-on administration panel!
hr
p You are using resource: #{@resource.id}
p For application:  #{@resource.heroku_id}
p Located in: #{@resource.region}
p On plan: #{@resource.plan}
p Logged in as: #{@resource.email}
